<div id="map">

</div>
<div class="left-bar" ng-show="index.openBar">
    <img class="arrow-left" ng-click="index.toggleLeftBar()" src="./images/arrows-left.png" ng-show="index.openBar">

    <div class="top-bar">
        <div class="header">
            <h3>Datalake</h3>
            </div>
        <!--<br>-->
        <!--Draw an AOI: <br>-->
        <!--<img ng-click="index.drawAOI('Polygon')" title="Draw a square" class="draw" src="./images/square_2.png" />-->
        <!--<img ng-click="index.drawAOI('Circle')" title="Draw a circle" class="draw" src="./images/circle.png" /><br>-->
        <br>
        Select a Date Range: <br>
        <span class="left-col">Start:</span>      <md-datepicker style="color:white;" ng-change="index.dateChange()" ng-model="index.date.start" md-placeholder="Enter date"></md-datepicker><br>
         <span class="left-col">End:&nbsp;</span>       <md-datepicker style="color:white;"  ng-change="index.dateChange()" md-min-date="index.date.start" ng-model="index.date.end" md-placeholder="Enter date"></md-datepicker>

        <br>
        Select a file type:
        <select ng-options="item as item.label for item in index.files" style="color:black;" ng-model="index.file"></select>
        <br>
        <br>
        <button ng-click="index.submit()" style="color:black;">
            Submit
        </button>
    </div>

    <div class="bottom-bar">
        {{result}}
    </div>

</div>
<img class="arrow-right" ng-click="index.toggleLeftBar()" src="./images/arrows.png" ng-show="!index.openBar">
<img  ng-src="{{index.layerImgSrc}}" ng-mouseover="index.switcherShow = true; index.layerImgSrc = './images/layer-switcher-dark.png'" title="Draw a circle"  ng-class="{'layer-button': !index.switcherShow, 'layer-button-dark':index.switcherShow}">

<div class="map-buttons">
        </br>
    <img src="./images/circle.png" ng-click="index.drawAOI('Circle')" title="Draw a circle"  class="map-button">
        </br>
    <img src="./images/square_2.png" ng-click="index.drawAOI('Polygon')" title="Draw a Square"  class="map-button">
    </div>

</div>
<div class="layer-switcher" ng-show="index.switcherShow" ng-mouseover="index.switcherShow = true" ng-mouseout="index.switcherShow = false;index.layerImgSrc = './images/layer-switcher.png'" >
    <h5>Base Layers</h5>
    <table>
        <tr ng-repeat="layer in index.baseLayers">
            <td><input ng-click="index.toggleBaseLayer(layer)" type="radio" ng-model="index.selectedBaseLayer" value="{{layer.get('title')}}" type="checkbox"></td><td>{{layer.get('title')}}</td>
        </tr>
    </table>
</div>

